:root {
    --theme-font-color: #30363c;
    --theme-green-logo: #10847E;
    --theme-black-text: #000000;
    --theme-footer-bg:#13294b;
    --theme-white-text:#ffffff;
    --theme-bg-color:#F3F3F3;
    --theme-price-color:#c20000;
}